:root {
    --link: #000;
    --hover: #b00;
    --main: #000;
    --bg: #f0f0f0;
    --size:99vmin;
    --ratio: 1/1.1;
    
}

*{
    margin: 0;
    padding: 0;
}



body {
    margin: 0;
    padding: 0;
    background-color: #FFF8BC;
    font-family: 'Times New Roman', Times, serif;
    color: var(--main);
    
}

a{
    text-decoration: none;
    color: #000;
    font-size: 20px;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 900;
    padding: 40px 0;
}
.container{
   
    max-width: 1200px;
   margin: auto;
  
    overflow: auto;
}

.logo{
    width: 80px;
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    text-align: center;
    border: 3px solid var(--main);
    color: var(--main);
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2.5px;
    transition: all 0.2s;

}

.logo:hover{
    background: var(--main);
    color:var(--bg);

}

nav{
    display: flex;
}

nav {
    display: inline-block;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    padding:  5px 10px;
    transition: all 300ms ease-in-out;
    margin-right: 10px;
    word-spacing: 30px;
}

nav a:hover{
    color: var(--hover);
}


.intro{
    width: 100%;
    text-align: center;
   
    font-size: 1rem;
   
    font-weight: bold;
    padding-bottom: 60px;
    padding-top: 20px;
}

.intro-title{
    color: var(--main);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10vmin;
}

.intro p{
    word-wrap: break-word;
    font-size: 25px;
    padding-bottom: 20px;
    margin-top: 10px;
}



.btn{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid #000;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.btn:hover{
    background-color: #000;
    color: var(--bg);
}



.gallery {
    margin: 25px;
    /* margin-right: 10px; */
    border: 1px solid #ccc;
    float: right;
    width: auto;
    filter: drop-shadow(10px 5px 2px #3D3C42);
    
}

.gallery img {
    
    width: 345px;
    height: 400px;
    
}

.desc {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: rgb(97, 63, 63);
    color: aliceblue;

}

footer{
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    background: grey;
}

.top {
    background-color: #FEDB39;
    width: 100%;
    
}
  